<section class="py-stack-lg overflow-hidden" id="blog">
  <div
    class="max-w-container-max mx-auto px-margin-mobile md:px-margin-desktop text-center mb-16 reveal fade-in-up"
  >
    <h2 class="font-display-lg text-display-lg">Explora por Estilo</h2>
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-4 grid-rows-2 gap-gutter px-margin-mobile md:px-margin-desktop h-[800px]"
  >
    <div
      class="col-span-1 row-span-2 rounded-[40px] overflow-hidden relative group reveal fade-in delay-100"
    >
      <img
        class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuCNan4aTquhj_5WhpHpvv7C0optiPUXOdrXc4d7cZ4IQlPTH6ejJd0Ns-ujoDlSvQ7uT0GwgSkPm9-8UwECZPU8GChCE_HmUE9n8owe57VY8eA1pT4YMjY-yW5RQ02UbKp_Pzqw0qqJ1pO0SY4y4RErSe2g8hd_Z_FzZ3xFVvmyBs9mp2TXrMG23drYgm2aKfGSh-8SzA4CCC-YpuXyh5aOoYz2ZCaL_IarOrP9HW6Avwr7li668E8f9NbaSXcbwQHg2p052yE74r1B"
        alt="Vida Urbana - Casa moderna en la ciudad"
        loading="lazy"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent flex items-end p-10"
      >
        <h4 class="text-white font-headline-md text-headline-md">
          Vida Urbana
        </h4>
      </div>
    </div>
    <div
      class="col-span-2 row-span-1 rounded-[40px] overflow-hidden relative group reveal fade-in delay-200"
    >
      <img
        class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuA44tb9tOl_6Vte55z3cSnDdCUcjRvuS81YqWs_ao0aF8a6Id7WsXH4VPUDCfCu_l3hESIn9PD3Pfdf78j9MmKaOcyv96IQfNXbcy7GzmoL-xLiBQ-J5Bj0zUUC6JHLyzcpXRUTAButcKIButAPHRjcpyRMKMJr46HNkHHQBczEfaJ5GCNMOGu--Rx1bsvFQMRZTWL38LUW8GO94ngWbkNDCO0FI9yRZx_jvMa_zBPhdA5W3BeakkkPlP75FmHyAGPr8B8SLjUew-hT"
        alt="Ecológicas - Casa sostenible"
        loading="lazy"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent flex items-end p-10"
      >
        <h4 class="text-white font-headline-md text-headline-md">Ecológicas</h4>
      </div>
    </div>
    <div
      class="col-span-1 row-span-1 rounded-[40px] overflow-hidden relative group reveal fade-in delay-300"
    >
      <img
        class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuAhxDGpMVERsuft1MKEpfQ8XWQBH11c6MqnSg7ZRcBXZ6OV61YB7gzncSro_huG4LRsNZmHF0v5UMv4E7azEeFqx2VczSCQpIMJQchQXRGlk-FRj5IlL-wzvywHns08IH8UUl3rCi9-UuUaMt0QZxx64xXRv3OCF31BS3LZn1kKtWYMnhclMlDOK098MEWzPQRCU2gRgUK0Jw2ChNxOmv07BK24m8WkYiTsjA25sYQ6bYAAxV_WXQcpE2n__YP3cPiIJ2HYZeOdFdFM"
        alt="Lujo - Villa con piscina"
        loading="lazy"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent flex items-end p-10"
      >
        <h4 class="text-white font-headline-md text-headline-md">Lujo</h4>
      </div>
    </div>
    <div
      class="col-span-1 row-span-1 rounded-[40px] overflow-hidden relative group reveal fade-in delay-200"
    >
      <img
        class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuAnKu4mdr5dpqxVFWlPVLUKNs957AeSXFDQwh5SpDm3frURV1VGBmJUFgsyXyAgw9qTlO4_d2g-SoycRXTPjldJjLimK_e-fLc0-hEXfF6IzeyIdqpNfIQm1V8xnRXhuN5AK3BRUMMOicuFOYFzcKuy7OAwTroNHhBQo37DP260vJ7bn6SzxM-4ifZgCk7gz7egADrFfJtURppGBlp2q5tkYOZixdC54_8t3GL002Wtmtuq9kTgUpSk4J905_letNXBkBN_SLeQImbx"
        alt="Casas de Campo - Propiedad rural"
        loading="lazy"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent flex items-end p-10"
      >
        <h4 class="text-white font-headline-md text-headline-md">
          Casas de Campo
        </h4>
      </div>
    </div>
    <div
      class="col-span-2 row-span-1 rounded-[40px] overflow-hidden relative group reveal fade-in delay-300"
    >
      <img
        class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDiJEPaAkjEaujS--Xjtk8J85YBaBrIj4-1YAHxR0vAa2gl1Mb4M1S746k9hHLLYq8Ms8QK03VkWMeeYv2yt9Q3IdI0ILs9r5QCjyXONd7kSwQsYtFDwLj1t4qicM83IILrzSEGDe7Qw8Y4Ta7WA3E31opKZLTPO114eMlJl2bNeROM4GEbCUt29CdSwx-29fi16liCs_gAtbr2gga3E7_5HyplGlaA6R2THulZXHnqBzObuXdhTfJ91xl2j3zSG5xAiTwl0J8IKUhL"
        alt="Retiros de Invierno - Casa con chimenea"
        loading="lazy"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-transparent flex items-end p-10"
      >
        <h4 class="text-white font-headline-md text-headline-md">
          Retiros de Invierno
        </h4>
      </div>
    </div>
  </div>
</section>
