---
import { Image } from "astro:assets";
import logoKora from "../assets/icons/imagotipo2.svg";
---

<header class="m-4 rounded-xl fixed top-0 w-full z-50 mix-blend-difference">
  <nav
    class="flex justify-between items-center px-margin-mobile md:px-margin-desktop py-6 max-w-container-max mx-auto"
  >
    <a
      class="font-display-lg-mobile text-display-lg-mobile font-bold text-white tracking-tighter"
      href="/"
    >
      <Image
        src={logoKora}
        alt="KORA Logo"
        class="h-12 w-auto brightness-0 invert"
      />
    </a>
    <div class="hidden md:flex gap-10 items-center">
      <a
        class="font-label-lg text-label-lg text-white border-b-2 border-white pb-1 transition-colors duration-300"
        href="#propiedades">Propiedades</a
      >
      <a
        class="font-label-lg text-label-lg text-white/80 hover:text-white transition-colors duration-300"
        href="#servicios">Servicios</a
      >
      <a
        class="font-label-lg text-label-lg text-white/80 hover:text-white transition-colors duration-300"
        href="#nosotros">Nosotros</a
      >
      <a
        class="font-label-lg text-label-lg text-white/80 hover:text-white transition-colors duration-300"
        href="#blog">Blog</a
      >
    </div>
    <a
      class="bg-white text-black font-black px-8 py-3 rounded-lg font-label-lg hover:bg-opacity-90 active:scale-95 transition-all duration-300 inline-block"
      href="#contacto">Contacto</a
    >
  </nav>
</header>
