---
import stats1 from "../assets/images/stats-1.webp";
import { Image } from "astro:assets";
---

<section
  class="py-stack-lg max-w-container-max mx-auto px-margin-mobile md:px-margin-desktop"
  id="nosotros"
>
  <div class="flex flex-col lg:flex-row gap-16 items-center">
    <div class="flex-1">
      <h2 class="font-display-lg text-display-lg mb-8 reveal slide-in-left">
        Tu Aliado Estratégico <br />
        <span class="italic">en Bienes Raíces</span>
      </h2>
      <p
        class="text-secondary max-w-md mb-12 font-body-lg reveal fade-in delay-100"
      >
        En KORA fusionamos la experiencia de más de dos décadas con un profundo
        conocimiento del mercado peruano. Desde penthouses en San Isidro hasta
        villas en el Valle Sagrado, cada propiedad es seleccionada con el más
        alto estándar de exclusividad.
      </p>
      <div class="grid grid-cols-2 gap-4">
        <div
          class="p-8 bg-surface-container rounded-[32px] text-center border border-outline/5 hover:bg-white transition-all duration-300 reveal fade-in-up delay-100"
        >
          <h3 class="font-headline-lg text-headline-lg mb-2">3k+</h3>
          <p class="text-label-sm text-secondary uppercase tracking-widest">
            Clientes Satisfechos
          </p>
        </div>
        <div
          class="p-8 bg-tertiary text-on-tertiary rounded-[32px] text-center active:scale-95 transition-transform duration-300 reveal fade-in-up delay-200"
        >
          <h3 class="font-headline-lg text-headline-lg mb-2">15+</h3>
          <p
            class="text-label-sm text-on-tertiary/70 uppercase tracking-widest"
          >
            Socios Estratégicos
          </p>
        </div>
        <div
          class="p-8 bg-surface-container rounded-[32px] text-center border border-outline/5 hover:bg-white transition-all duration-300 reveal fade-in-up delay-300"
        >
          <h3 class="font-headline-lg text-headline-lg mb-2">20+</h3>
          <p class="text-label-sm text-secondary uppercase tracking-widest">
            Años de Experiencia
          </p>
        </div>
        <div
          class="p-8 bg-surface-container rounded-[32px] text-center border border-outline/5 hover:bg-white transition-all duration-300 reveal fade-in-up delay-400"
        >
          <h3 class="font-headline-lg text-headline-lg mb-2">4.5k+</h3>
          <p class="text-label-sm text-secondary uppercase tracking-widest">
            Propiedades Disponibles
          </p>
        </div>
      </div>
    </div>
    <div class="flex-1 w-full reveal fade-in-up delay-200">
      <div
        class="aspect-[4/3] rounded-[48px] overflow-hidden shadow-2xl relative"
      >
        <Image
          class="w-full h-full object-cover"
          src={stats1}
          alt="Oficina exclusiva Kora en San Isidro, Lima"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
