<section class="py-stack-lg bg-surface-container-low overflow-hidden">
  <div
    class="max-w-container-max mx-auto px-margin-mobile md:px-margin-desktop relative"
  >
    <div class="carousel-container overflow-hidden">
      <div
        class="carousel-track flex transition-transform duration-700 ease-in-out"
        id="testimonialTrack"
      >
        <div
          class="carousel-item min-w-full flex flex-col md:flex-row gap-16 items-center px-4 md:px-20"
        >
          <div class="flex-1 space-y-8 reveal fade-in">
            <span
              class="material-symbols-outlined text-primary text-6xl"
              style='font-variation-settings: "FILL" 1;'>format_quote</span
            >
            <h2 class="font-display-lg text-headline-lg italic">
              &ldquo;KORA no solo nos encontró una casa, sino una obra de arte
              que ahora llamamos hogar. Su atención al detalle es
              inigualable.&rdquo;
            </h2>
            <div class="flex items-center gap-4">
              <div
                class="w-16 h-16 rounded-lg overflow-hidden shadow-lg border border-white/20"
              >
                <img
                  alt="Elena Santamaría"
                  class="w-full h-full object-cover"
                  src="https://lh3.googleusercontent.com/aida/AP1WRLsFkq-5_ouUgndasdXIcDsu6pdf5W218Gzn8epYoR99VsyAx3WHBVcx6RPbHyfGBcoLthyNC_s27I0GqDExro5NTRakHqPA07s-OQNTwenSBftya5iUMNdEK-iS9vcQBBNsb9Zd6pb0uM0OJMpX9qDMXD75FkslCPEqD-QmQAodY-Aij52yT6QwmcA8VV-AEQk3CZVf7FtMmInw9xNou6optel32YyIe3zYbXflgytIox-MEHIGHBIkEl8"
                  loading="lazy"
                />
              </div>
              <div>
                <p class="font-label-lg">Elena Santamaría</p>
                <p
                  class="text-label-sm text-secondary uppercase tracking-widest"
                >
                  Inversora
                </p>
              </div>
            </div>
          </div>
          <div class="flex-1 hidden md:block reveal slide-in-right">
            <img
              class="rounded-[32px] w-full aspect-square object-cover shadow-2xl"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuC0w0xqkPEwKQGuoYDUR8P99pvgoZstSaJFa5UaHQnKX9Dj1q8mDybxblkNgVvml8PIcjWbagfJwK3D-NW5KouyyAf5vGT0rJJsQvtzgt5DKdo0Lppb2n8BFgwYzVRWFTbsUoA6Ruu9xtecjkVo4N2q_3AAdM_jGgi0ii7hr_trtwc6kTPsT14fY6fduyjlgNLYtRY1WeZcf07sx6QlasMi25YBvD94ZtxKm7hBVhVkTBDAY-JtktUcxIAi6KqK1Pc4JSaAroZY3UB7"
              alt="Propiedad de lujo"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="carousel-item min-w-full flex flex-col md:flex-row gap-16 items-center px-4 md:px-20"
        >
          <div class="flex-1 space-y-8 reveal fade-in">
            <span
              class="material-symbols-outlined text-primary text-6xl"
              style='font-variation-settings: "FILL" 1;'>format_quote</span
            >
            <h2 class="font-display-lg text-headline-lg italic">
              &ldquo;La discreción y el profesionalismo de KORA superaron todas
              mis expectativas. Encontraron la pieza perfecta para mi
              portfolio.&rdquo;
            </h2>
            <div class="flex items-center gap-4">
              <div
                class="w-16 h-16 rounded-lg overflow-hidden shadow-lg border border-white/20"
              >
                <img
                  alt="David Chen"
                  class="w-full h-full object-cover"
                  src="https://lh3.googleusercontent.com/aida/AP1WRLuOUjvwG0V6yH5pkJ9AhaKvQD8lXPlRT6G3aNvIElL96rnB4YeMFPoVuc5M8ZVsGHMc78Tbnt6jUxssH1C65D4RNinZmZfLeEtNEsmXq0RkF5LekAtYerQ1zUKnaKodjOAfowqFT3m2aIHAGdFJfNf2cDMbgPRvg1aPWTofctNkcS6dRJxKPgsDzW6FbJUK7laoLrmI2rtHkp_Xx86E9IepYHWcKpTT0hWjm9mlbr4Ywl10sgr4i68MQKj_"
                  loading="lazy"
                />
              </div>
              <div>
                <p class="font-label-lg">David Chen</p>
                <p
                  class="text-label-sm text-secondary uppercase tracking-widest"
                >
                  CEO de TechVision
                </p>
              </div>
            </div>
          </div>
          <div class="flex-1 hidden md:block reveal slide-in-right">
            <img
              class="rounded-[32px] w-full aspect-[16/9] object-cover shadow-2xl"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuCFbQ_BtT2kmpIszcA2mKrZ5554P9AmNRM6NyGVkDN5h4osdo9HPfSR7aEvKIpN6ss5g5Z0jp82EdkNPSc_uI-aWmE3uHbvdO22BbFBzBCgzX6-oNUi0oCBqkmzaf81mfOzt0fLzCU5YDkmpkB0kBsRo8sQUtCgBuhPekAYFxIpBb_CeBSAIzOR7w0HBnEW9ibVqmqnPocySc5h0oseElXeugpJcIqoHlkDxvqXF2br4vL0gA-SIKezwAkeN0l2GWH9jj7nFkFCMLXQ"
              alt="Casa de lujo"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="carousel-item min-w-full flex flex-col md:flex-row gap-16 items-center px-4 md:px-20"
        >
          <div class="flex-1 space-y-8 reveal fade-in">
            <span
              class="material-symbols-outlined text-primary text-6xl"
              style='font-variation-settings: "FILL" 1;'>format_quote</span
            >
            <h2 class="font-display-lg text-headline-lg italic">
              &ldquo;Como arquitecto, valoro la pureza de las líneas. KORA
              entiende el lenguaje del diseño contemporáneo como nadie.&rdquo;
            </h2>
            <div class="flex items-center gap-4">
              <div
                class="w-16 h-16 rounded-lg overflow-hidden shadow-lg border border-white/20"
              >
                <img
                  alt="Sofía Rossi"
                  class="w-full h-full object-cover"
                  src="https://lh3.googleusercontent.com/aida/AP1WRLtJlt0-E9g_3VlVMaNe0eSOtYVGIccL5DAS6q-sh8xbxs4yKPQvUEdxklVX-JsIHBlxPh2W_bQI9n47dZnqvzF6IcDez79cBPKsqJa4c3Jayv6x6fhfzUhuAq6NDp1Khw2FAI9wM6c2bJORSFjDBtGYteagqfpevUdZHJ0nG5Dhwl7hYuXXyBF6cH1lvcJrpM2TTtG0QALeUZW9NZ0-tGAcy1WZRV2FNFjXCLRDFKgqc10IPmENk1rXxoLz"
                  loading="lazy"
                />
              </div>
              <div>
                <p class="font-label-lg">Sofía Rossi</p>
                <p
                  class="text-label-sm text-secondary uppercase tracking-widest"
                >
                  Arquitecta Principal
                </p>
              </div>
            </div>
          </div>
          <div class="flex-1 hidden md:block reveal slide-in-right">
            <img
              class="rounded-[32px] w-full aspect-square object-cover shadow-2xl"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuBB4whroTOvEcZqlCnSUcR4DsiaU3Y_PsRJcs5VFIlm4zcr_608SKY9O_rYF0htFPoIK9ziomuZyaYEbM6LhCADE48uob6aqERVyL3yaE64z69vLFkUN857uSt9J974ZFoqFVLJBMU05_HPiTsIUrAMyPxO6RFTMVwovvLFTgevUvPyK8-AOjPqqyzIlFgnLW_iVjXHJa9rn5p-LDXWTaBo5ywilraeoQoIUla5cd1dgA9EPoIoRbmvoNP_Y3Py6sLze0cWnI47m9_a"
              alt="Villa minimalista"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="carousel-item min-w-full flex flex-col md:flex-row gap-16 items-center px-4 md:px-20"
        >
          <div class="flex-1 space-y-8 reveal fade-in">
            <span
              class="material-symbols-outlined text-primary text-6xl"
              style='font-variation-settings: "FILL" 1;'>format_quote</span
            >
            <h2 class="font-display-lg text-headline-lg italic">
              &ldquo;Buscábamos un retiro sostenible sin sacrificar la
              elegancia. El equipo de KORA nos guió hacia la elección
              perfecta.&rdquo;
            </h2>
            <div class="flex items-center gap-4">
              <div
                class="w-16 h-16 rounded-lg overflow-hidden shadow-lg border border-white/20"
              >
                <img
                  alt="Marc Julià"
                  class="w-full h-full object-cover"
                  src="https://lh3.googleusercontent.com/aida/AP1WRLtHT42W35q-lYAe8DQqZV43If_3GfuQVKzLchSRkgGppRbBG5okqzO65YCQ1hijDjhqIyACy2xqbKJdaOIdvmdAlKIaAj_aYPznb6r8QVTKqcICjNTNPPi9e_BtMTR5GaEMVijPtcc70vuu_ajHZ0v_MvELQG1Rjq0XpbA51sH-TFAYw1Rp1KSOSIk9qXFO2kMyuBlCwKZDQGqfJV1sypwtjFjrnELYNAqXcMrGxwWKT3Odh9DYFmbTEp0"
                  loading="lazy"
                />
              </div>
              <div>
                <p class="font-label-lg">Marc Julià</p>
                <p
                  class="text-label-sm text-secondary uppercase tracking-widest"
                >
                  Fundador de EcoSmart
                </p>
              </div>
            </div>
          </div>
          <div class="flex-1 hidden md:block reveal slide-in-right">
            <img
              class="rounded-[32px] w-full aspect-[4/3] object-cover shadow-2xl"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuA44tb9tOl_6Vte55z3cSnDdCUcjRvuS81YqWs_ao0aF8a6Id7WsXH4VPUDCfCu_l3hESIn9PD3Pfdf78j9MmKaOcyv96IQfNXbcy7GzmoL-xLiBQ-J5Bj0zUUC6JHLyzcpXRUTAButcKIButAPHRjcpyRMKMJr46HNkHHQBczEfaJ5GCNMOGu--Rx1bsvFQMRZTWL38LUW8GO94ngWbkNDCO0FI9yRZx_jvMa_zBPhdA5W3BeakkkPlP75FmHyAGPr8B8SLjUew-hT"
              alt="Retiro sostenible"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-y-0 left-10 flex items-center">
      <button
        class="w-12 h-12 rounded-lg bg-white/80 backdrop-blur shadow-lg border border-outline/10 flex items-center justify-center hover:bg-white transition-colors ml-4 md:-ml-6 group"
        id="prevBtn"
      >
        <span
          class="material-symbols-outlined text-primary group-hover:-translate-x-1 transition-transform"
          >chevron_left</span
        >
      </button>
    </div>
    <div class="absolute inset-y-0 right-10 flex items-center">
      <button
        class="w-12 h-12 rounded-lg bg-white/80 backdrop-blur shadow-lg border border-outline/10 flex items-center justify-center hover:bg-white transition-colors mr-4 md:-mr-6 group"
        id="nextBtn"
      >
        <span
          class="material-symbols-outlined text-primary group-hover:translate-x-1 transition-transform"
          >chevron_right</span
        >
      </button>
    </div>
  </div>
</section>
